/**
 * @file
 * Subtheme specific CSS.
 */

#navbar-main
{
  padding-top: 40px;
  padding-bottom: 40px;
}

.navbar-brand
{
  margin: 0;
}

.site-name-slogan
{
  color: #ffffff;
  width: 70%;
  margin-left: 0;
}

.navbar-brand img
{
  width: 95px;
  height: 95px;
  margin-right: 20px;
}

.menu--main-site-menu .clearfix .menu-item--active-trail
{
  border-bottom: 2px #ffffff solid;
}

.menu--main-site-menu .clearfix .menu-item--active-trail a
{
  color: #ffffff;
}

#block-my-barrio-languageswitcher nav.links span
{
  background-color: #efefef;
  border-radius: 0 0 10px 10px;
  margin-bottom: 20px;
  margin-right: 5px;
}

#block-my-barrio-languageswitcher nav.links span a
{
  text-decoration: none;
  color: #054267;
}

#block-my-barrio-languageswitcher nav.links span.is-active
{
  background-color: #cdcdcd;
}

#main-wrapper
{
  margin-bottom: 30px;
}

#main-wrapper #main .block-system-breadcrumb-block
{
  display: none;
}

#main-wrapper .block-page-title-block
{
  margin-bottom: 30px;
}

.block-views-blocklatest-news-block-1 .content h1.field-content a
{
  font-size: 30px;
  color: #054267;
  text-decoration: none;
}

.block-views-blocklatest-news-block-1 .content .views-row
{
  margin-bottom: 30px;
}

.block-views-blocklatest-news-block-1 h2
{
  color: #054267;
}

.node--type-news .node__content
{
  display: table;
}

.node--type-news .node__content .field
{
  display: table-row;
}

.node--type-news .node__content .inline__links .comment-add a
{
  display: none;
}

.node--type-news .node__content .comment__content
{
  margin-top: 20px;
  width: 100%;
}

#edit-comment-body-wrapper #edit-comment-body-0-format
{
  display: inline-block;
  width: 100%;
  border: #bbb solid 1px;
  border-top: none;
  margin-top: 0;
  font-size: 15px;
}

#edit-comment-body-wrapper #edit-comment-body-0-format select
{
  max-width: 120px;
  padding: 0 5px;
  margin-left: 5px;
  font-size: 15px;
}

#edit-comment-body-wrapper #edit-comment-body-0-format fieldset
{
  display: flex;
  float: left;
  margin: 10px;
}

#edit-comment-body-wrapper #edit-comment-body-0-format #edit-comment-body-0-format-help
{
  float: right;
  margin: 10px;
}

#edit-comment-body-wrapper .form-item-comment-body-0-value
{
  margin-bottom: 0;
}

.filter-guidelines-restricted_html ul.tips
{
  display: none;
}

#edit-comment-body-0--description
{
  display: none;
}
